name: Build and Deploy Smart City App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  OWNER: broken-lad

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Make Gradle executable
        run: chmod +x ./gradlew

      - name: Build backend Docker image
        run: |
          docker build \
            -f Dockerfile \
            -t $REGISTRY/$OWNER/smart-city-backend:latest \
            .

      - name: Build frontend Docker image
        run: |
          docker build \
            -f smart-city/Dockerfile \
            -t $REGISTRY/$OWNER/smart-city-frontend:latest \
            smart-city

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: broken-lad
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push images
        run: |
          docker push $REGISTRY/$OWNER/smart-city-backend:latest
          docker push $REGISTRY/$OWNER/smart-city-frontend:latest


  deploy:
    runs-on: self-hosted
    needs: build
    permissions:
      packages: read
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: broken-lad
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull images
        run: |
          docker pull ghcr.io/broken-lad/smart-city-backend:latest
          docker pull ghcr.io/broken-lad/smart-city-frontend:latest

      - name: Create .env file
        run: |
          echo "SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/hackathon" > .env
          echo "SPRING_DATASOURCE_USERNAME=hackathon" >> .env
          echo "SPRING_DATASOURCE_PASSWORD=hackathon" >> .env
          echo "SPRING_JPA_HIBERNATE_DDL_AUTO=update" >> .env
          echo "SPRING_PROFILES_ACTIVE=prod" >> .env

      - name: Start containers
        run: docker compose -f docker-compose.yml up -d --remove-orphans
